:root {
    --grey: rgba(90, 92, 97, 100%);
    --grey10: rgba(90, 92, 97, 10%);
    --grey70: rgba(90, 92, 97, 70%);
    --grey15: rgba(90, 92, 97, 15%);
    --grey40: rgba(90, 92, 97, 40%);
}

html,
body {
    font-family: Manrope;
    color: var(--grey);
    line-height: 157%;
}

button {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    width: 100vw;
}

@media screen and (min-width: 1024px) {
    html,
    body {
        font-size: 18px;
    }

    .container {
        padding: 0 12.5%;
        /*max-width: 1440px;*/
    }
}

.header, .main, .footer {
    width: 100%;
}

/* Header */
.header {
    position: absolute;
}

.header_logo {
    margin-top: 26px;
}

@media screen and (min-width: 1024px) {
    .header_logo {
        margin-top: 65px;
    }
}

.header_logo img {
    width: 268px;
    height: 65px;
}

/* Main */
/* section page_main_info */

.main_info_container_desktop {
    display: none;
}

.main_info_background {
    display: none;
}

.main_info_image {
    margin-top: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_info_image-line {
    height: 2px;
    min-width: 100vw;
    background: linear-gradient(to right, #FE8687, #AB52CE);
    position: absolute;
}

.main_info_image img {
    height: 142px;
    width: 142px;
    z-index: 2;
}

.main_info_theses {
    margin-top: 16px;
}

.theses_date {
    height: 26px;
    font-size: 16px;
    font-weight: bold;
    line-height: 157%;
}

.theses_head {
    margin-top: 7px;
    height: 64px;

}

.theses_head_text {
    font-size: 46px;
    line-height: 157%;
    font-weight: bold;
    background: linear-gradient(to right, #AB52CE, #FE8687);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.theses_online {
    margin-top: 6px;
    height: 70px;
    font-size: 16px;
    font-weight: bold;
    line-height: 157%;
}

.theses_description {
    margin-top: 45px;
    line-height: 157%;
    color: var(--grey70);
    height: 92px;
}

.main_info_button {
    margin-top: 23px;
}

.main_info_button-button {
    height: 63px;
    width: 345px;
    border-radius: 42px;
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    background: linear-gradient(to bottom left, #AB52CE, #FE8687);
}

@media screen and (min-width: 1024px) {
    .page_main_info {
        position: relative;
    }

    .main_info_background {
        display: block;
    }

    .with_gradient_left {
        position: absolute;
        height: 100%;
        width: 16%;
        left: 0;
        background: linear-gradient(to right, #DBF7FA, #fff);
    }

    .with_gradient_right {
        position: absolute;
        height: 100%;
        width: 16%;
        right: 0;
        background: linear-gradient(to right, #fff, #DBF7FA);
    }

    .main_info_container_mobile {
        display: none;
    }

    .main_info_container_desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .main_info_image img {
        margin-top: 212px;
        width: 526px;
        height: 526px;
        padding-right: 70px;
    }

    .main_info_theses {
        margin-top: 212px;
        padding-left: 70px;
    }

    .main_info_image-line {
        display: none;
    }

    .theses_date {
        font-size: 24px;
    }

    .theses_online {
        font-size: 24px;
        font-weight: 800;
        margin-top: 65px;
    }

    .theses_description {
        margin-top: 45px;
    }

    .theses_head {
        height: 210px;
    }

}

/* gifts */
.page_gifts {
    margin-top: 75px;
    background-color: var(--grey10);
}

.gifts_container_mobile {
    height: 580px;
}

.gifts_container_desktop {
    display: none;
}

.gift_guarantees {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gift_title {
    height: 58px;
    font-size: 18px;
    line-height: 157%;
}

.title_underline {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.gift_guarantees > .gift_size {
    width: 143px;
}

.gift_main > .gift_size {
    width: 181px;
}

.gift_size_text {
    height: 80px;
    font-size: 58px;
    line-height: 157%;
    font-weight: bold;
    background: linear-gradient(to right, #AB52CE, #FE8687);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gift_description {
    margin-top: 6px;
    color: var(--grey70);
    height: 92px;
}

.gift_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1px;
    margin-bottom: 36px;
}

.page_divider {
    height: 2px;
}

@media screen and (min-width: 1024px) {
    .gifts_container_mobile {
        display: none;
    }

    .gifts_container_desktop {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        height: 498px;
    }

    .gift_images {
        flex-grow: 0.5;
    }

    .gift_image_small {
        position: absolute;
        left: calc(50% - 210px);
        top: 80px;
    }

    .gift_image_big {
        position: absolute;
        top: 50px;
        left: calc(50% - 155px);
    }

    .gift_guarantees {
        margin-top: 0;
    }

    .gift_title {
        margin-top: 136px;
    }
}

/* page_description */
.page_description {
    background: linear-gradient(to bottom left, rgba(171, 82, 206, 15%), rgba(254, 134, 135, 15%));
}

.description_container {
    height: 265px;
}

.description_text {
    display: flex;
    align-items: center;
    height: 166px;
}

@media screen and (min-width: 1024px) {
    .description_container {
        height: 232px;
    }

    .description_text {
        margin-top: 0;

        font-size: 18px;
    }

    .description_text > br {
        display: none;
        max-width: 1105px;
    }
}

/*page_team */

.page_team {
    margin-top: 67px;
    height: 1321px;
}

.team_slider {
    width: 100%;
}

.team_slider_title {
    height: 70px;
    font-weight: bold;
}

.team_slider_items {
    margin-top: 31px;
}

.slider_item_image {
    position: relative;
    height: 256px;
    width: 243px;
}

.slider_item_image_decor {
    width: 25px;
    height: 25px;
}

.decor_top {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 25px;
}

.decor_bot {
    position: absolute;
    z-index: 2;
    bottom: 25px;
}

.item_description {
    margin-top: 28px;
}

.item_description_name {
    font-size: 18px;

}

.item_description_specialization {
    margin-top: 6px;
}

.slider_circles {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--grey15);
    margin-right: 8px;;
}

.slider-circle:not:last-child {
    margin-right: 0;
}

.circle_active {
    background-color: var(--grey40);
}

.team_head {
    margin-top: 51px;
}

.team_head_image {
    position: absolute;
    z-index: -1;
    right: 0;
}

.team_head_title {
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    height: 70px;
}

.head_item_image {
    margin-top: 47px;
}

.item_description_profession {
    margin-top: 13px;
    color: var(--grey70);
}

/* page_program_description*/
.page_program_description {
    background-color: var(--grey10);
}

.program_description_container {
    height: 863px;
    position: relative;
}

.program_description_image_mobile {
    position: absolute;
    top: 77px;
    left: 0;
    z-index: -1;
}

.desktop_left {
    display: none;
}

.desktop_right {
    display: none;
}

.info_title {
    margin-top: 60px;
    font-size: 18px;
    font-weight: bold;
    height: 70px;

}

.info_list {
    height: 485px;
    min-width: 345px;
}

.info_list > ul {
    display: grid;
    grid-gap: 1rem;
}

.info_list > ul > li {
    display: grid;
    grid-template-columns: 0 1fr;
    grid-gap: 1.75em;
    align-items: start;
    /*margin-top: 24px;*/
}

.info_list > ul > li:before {
    content: '';
    margin-top: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: linear-gradient(to right, #FE8687, #AB52CE);
}

.info_list_text {
    text-align: left;
}

.info_list_text-title {
    margin-left: 24px;
    margin-bottom: 1rem;
}

.registration_button {

}

.registration_button-button {
    height: 63px;
    width: 345px;
    border-radius: 42px;
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    background: linear-gradient(to bottom left, #AB52CE, #FE8687);
}

.learn_more_button_button-button {
    position: relative;
    margin-top: 18px;
    height: 63px;
    width: 345px;
    border-radius: 42px;
    font-family: Manrope;
    font-size: 16px;
    background-clip: padding-box;
    border: solid 3px transparent;
}

.learn_more_button_button-button::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(to bottom left, #AB52CE, #FE8687);
    margin: -3px;
    z-index: -1;
}

@media screen and (min-width: 1024px) {
    .program_description_container {
        height: 663px;
    }

    .program_description_image_mobile {
        display: none;
    }

    .desktop_left {
        display: block;
        position: absolute;
        top: 77px;
        left: 88px;
        z-index: -1;
    }

    .desktop_right {
        display: block;
        position: absolute;
        height: 244px;
        width: 250px;
        top: 370px;
        right: 38px;
        z-index: -1;
    }

    .info_title {
        margin-top: 0;
    }

    .program_description_info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .info_list_text-title {
        height: 86px;
        margin-left: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .info_list {
        height: 107px;
    }

    .info_list > ul {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: 107px;
    }

    .program_buttons {
        margin-top: 59px;
        display: flex;
        flex-direction: row;
    }

    .registration_button {
        padding-right: 11px;
    }

    .learn_more_button_button-button {
        margin-top: 0;
        padding-left: 11px;
    }
}

/* sale_info */
.sale_info-text {
    height: 148px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .sale_info-text > br {
        display: none;
    }
}

/* Footer */
.footer {
    background-color: var(--grey10);
}

.footer_container {
    height: 172px;
}

.footer_social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 24px 0 24px;
}

.social_item {
    width: 52px;
    height: 52px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 39px;
}

.social_item:last-child {
    margin-right: 0;
}

.footer_copyright {
    margin-top: 24px;
    color: var(--grey70);
}

@media screen and (min-width: 1024px) {
    .footer_container {
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}