:root {
    --grey: rgba(90, 92, 97, 100%);
    --grey10: rgba(90, 92, 97, 10%);
    --grey70: rgba(90, 92, 97, 70%);
    --grey15: rgba(90, 92, 97, 15%);
    --grey40: rgba(90, 92, 97, 40%);
    --swiper-theme-color: rgba(90, 92, 97, 40%);

}

html,
body {
    font-family: Manrope;
    color: var(--grey);
    font-size: 14px;
    line-height: 157%;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    width: 100vw;
}

@media screen and (min-width: 1024px) {
    html,
    body {
        font-size: 18px;
    }

    .container {
        padding: 0 12.5%;
    }
}

.header, .main, .footer {
    width: 100%;
}

/* Header */

.header_logo {
    margin-top: 26px;
}

@media screen and (min-width: 1024px) {
    .header_logo {
        margin-top: 65px;
    }

    .header_logo img {
        width: 328px;
        height: 86px;
    }
}

/* Main */
/* section main_info */

.main_info_container_desktop {
    display: none;
}

.main_info_background {
    display: none;
}

.main_info_image {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_info_image-line {
    height: 2px;
    min-width: 100vw;
    background: linear-gradient(to right, #FE8687, #AB52CE);
    position: absolute;
}

.main_info_image img {
    height: 142px;
    width: 142px;
    z-index: 2;
}

.main_info_theses {
    margin-top: 16px;
}

.theses_date {
    height: 26px;
    font-size: 16px;
    font-weight: bold;
    line-height: 157%;
}

.theses_head {
    margin-top: 7px;
    height: 64px;
}

.theses_head_text {
    font-size: 46px;
    line-height: 157%;
    font-weight: bold;
    background: linear-gradient(to right, #AB52CE, #FE8687);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.theses_online {
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold;
    line-height: 157%;
}

.theses_description {
    margin-top: 45px;
    line-height: 157%;
    color: var(--grey70);
    height: 92px;
}

.theses_description_desktop {
    display: none;
}

.main_info_button {
    margin-top: 23px;
}

.main_info_button {
    margin-top: 23px;
    height: 63px;
    width: 345px;
    border-radius: 42px;
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    background: linear-gradient(to bottom left, #AB52CE, #FE8687);
}

@media screen and (min-width: 1024px) {
    .main_info {
        position: relative;
    }

    .main_info_background {
        display: block;
    }

    .with_gradient_left {
        position: absolute;
        height: 100%;
        width: 16%;
        left: 0;
        background: linear-gradient(to right, #DBF7FA, #fff);
    }

    .with_gradient_right {
        position: absolute;
        height: 100%;
        width: 16%;
        right: 0;
        background: linear-gradient(to right, #fff, #DBF7FA);
    }

    .main_info_container_mobile {
        display: none;
    }

    .main_info_container_desktop {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 84px;
    }

    .main_info_item {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main_info_image_desktop img {
        margin-top: 61px;
        width: 526px;
        height: 526px;
        padding-right: 70px;
    }

    .main_info_theses {
        margin-top: 61px;
        padding-left: 70px;
    }

    .main_info_image-line {
        display: none;
    }

    .theses_date {
        font-size: 24px;
    }

    .theses_online {
        font-size: 24px;
        font-weight: 800;
        margin-top: 65px;
    }

    .theses_description {
        display: none;
    }

    .theses_description_desktop {

        display: block;
        margin-top: 45px;
    }

    .theses_head {
        height: 210px;
    }

    .theses_head > h1 {
        font-size: 136px;
    }

    .theses_head > h2 {
        font-size: 24px;
        margin-top: -55px;
    }
}

/* gifts */
.main_gifts {
    margin-top: 75px;
    background-color: var(--grey10);
}

.gifts_container_mobile {
    padding-top: 65px;
    height: 580px;
}

.gifts_container_desktop {
    display: none;
}

.gift_guarantees {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gift_title {
    height: 58px;
    font-size: 18px;
    line-height: 157%;
}

.title_underline {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.gift_guarantees > .gift_size {
    width: 143px;
}

.gift_main > .gift_size {
    width: 181px;
}

.gift_size_text {
    height: 80px;
    font-size: 58px;
    line-height: 157%;
    font-weight: bold;
    background: linear-gradient(to right, #AB52CE, #FE8687);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gift_description {
    margin-top: 6px;
    color: var(--grey70);
    height: 92px;
}

.gift_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1px;
    margin-bottom: 36px;
}

.main_divider {
    height: 2px;
}

@media screen and (min-width: 1024px) {
    .gifts_container_mobile {
        display: none;
    }

    .main_gifts {
        margin-top: 0;
    }

    .gifts_container_desktop {
        padding-top: 133px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        height: 498px;
        background-image: url("../assets/main/gifts/gifts_background.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .gift_guarantees {
        margin-top: 0;
    }

    .gift_title {
        font-size: 24px;
    }

    .gift_size {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gift_size_text {
        font-size: 118px;
        height: 161px;
        width: 316px;
    }

    .gift_description {
        font-size: 18px;
    }
}

/* main_description */
.main_description {
    background: linear-gradient(to bottom left, rgba(171, 82, 206, 15%), rgba(254, 134, 135, 15%));
}

.description_container {
    height: 265px;
}

.description_text {
    display: flex;
    align-items: center;
    height: 166px;
}

@media screen and (min-width: 1024px) {
    .description_container {
        height: 232px;
    }

    .description_text {
        margin-top: 0;

        font-size: 18px;
    }

    .description_text > br {
        display: none;
        max-width: 1105px;
    }
}

/*main_team */

.main_team {
    padding-top: 67px;
    padding-bottom: 33px;
}

.team_slider_title {
    height: 70px;
    font-weight: bold;
}

.team_slider_items {
    margin-top: 31px;
}

.slider_item_image {
    position: relative;
    height: 256px;
    width: 243px;
}

.slider_item_image_decor {
    width: 25px;
    height: 25px;
}

.decor_top {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 25px;
}

.decor_bot {
    position: absolute;
    z-index: 2;
    bottom: 25px;
}

.item_description {
    margin-top: 28px;
}

.item_description_name {
    font-size: 18px;

}

.item_description_specialization {
    margin-top: 6px;
}

.swiper-slide {
    width: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team_slider {
    width: 100%;
    position: relative;
}

.swiper-pagination_bullet {
    background-color: var(--grey15);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -40px;
}

.swiper-button-prev,
.swiper-button-next {
    opacity: 0;
}

.team_head {
    margin-top: 51px;

}

.team_head_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_item_image_decor {
    width: 25px;
    height: 25px;
}

.decor_top {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 25px;
}

.decor_bot {
    position: absolute;
    z-index: 2;
    bottom: 25px;
}

.team_head_image {
    position: absolute;
    z-index: -1;
    right: 0;
}

.team_head_image_left,
.team_head_image_right {
    display: none;
}

.team_head_title {
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    height: 70px;
}

.head_item_image {
    position: relative;
    margin-top: 47px;
    height: 256px;
    width: 243px;
}

.item_description_profession {
    margin-top: 13px;
    color: var(--grey70);
}

.item_description_profession-desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .main_team {
        padding-top: 93px;
        padding-bottom: 125px;
    }

    .decor_top,
    .decor_bot {
        display: none;
    }

    .team_head_image {
        display: none;
    }

    .team_head_image_left,
    .team_head_image_right {
        display: block;
        position: absolute;
        z-index: -1;
    }

    .team_head_image_right {
        right: 0;
    }

    .team_head_image_left {
        left: 0;
    }

    .team_slider {
        max-width: 1440px;
        width: 100%;
    }

    .team_slider_title {
        font-size: 30px;
    }

    .swiper-container {
        margin-top: 89px;
        max-width: 1440px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 100;
        background-color: transparent;
    }

    .swiper-button-prev,
    .swiper-button-next:after {
        color: #7E39A8;
    }

    .team_head_title {
        display: none;
    }

    .team_head_item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .head_item_image {
        width: 342px;
        height: 363px;
    }

    .head_item_image > img {
        width: 307px;
        height: 362px;
    }

    .head_item_description > .item_description_name {
        font-size: 32px;
    }

    .head_item_description > .item_description_specialization {
        font-size: 20px;
        margin-top: 24px;
    }

    .head_item_description > .item_description_profession {
        display: none;
    }

    .item_description_profession-desktop {
        display: block;
        margin-top: 1em;
        font-size: 20px;
        color: var(--grey70);
    }
}

/* main_program_description*/
.main_program_description {
    background-color: var(--grey10);
}

.program_description_container {
    padding: 60px 0 72px 0;
    position: relative;
}

.program_description_image_mobile {
    position: absolute;
    top: 77px;
    left: 0;
    z-index: -1;
}

.desktop_left {
    display: none;
}

.desktop_right {
    display: none;
}

.info_title {
    font-size: 18px;
    font-weight: bold;
    height: 70px;
}

.info_list {
    min-width: 345px;
}

.info_list > ul > li {
    display: flex;
    align-items: baseline;
    justify-content: start;
    margin-top: 1em;
}

.info_list > ul > li:before {
    content: '';
    margin-top: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: linear-gradient(to right, #FE8687, #AB52CE);
}

.info_list_text {
    margin-left: 20px;
    text-align: left;
}

.info_list_text-title {
    margin-left: 24px;
    margin-bottom: 1rem;
}

.program_buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.registration_button {
    height: 63px;
    width: 345px;
    border-radius: 42px;
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    background: linear-gradient(to bottom left, #AB52CE, #FE8687);
}

.learn_more_button {
    position: relative;
    margin-top: 18px;
    height: 63px;
    width: 345px;
    border-radius: 42px;
    font-family: Manrope;
    color: var(--grey);
    font-size: 16px;
    background-clip: padding-box;
    border: solid 3px transparent;
}

.learn_more_button::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(to bottom left, #AB52CE, #FE8687);
    margin: -3px;
    z-index: -1;
}


@media screen and (min-width: 1024px) {
    .program_description_container {
        padding: 94px 0 118px 0;
    }

    .program_description_image_mobile {
        display: none;
    }

    .desktop_left {
        display: block;
        position: absolute;
        top: 77px;
        left: 88px;
        z-index: -1;
    }

    .desktop_right {
        display: block;
        position: absolute;
        height: 244px;
        width: 250px;
        top: 370px;
        right: 38px;
        z-index: -1;
    }

    .info_title {
        margin-top: 0;
        font-size: 30px;
    }

    .program_description_info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .info_list {
        margin-top: 35px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .info_list_text {
        margin-left: 7px;
        font-size: 14px;
    }

    .info_list_text-title {
        height: 86px;
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: 18px;
        text-align: center;
    }

    .info_list > ul {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: 240px;
    }

    .info_list > ul > li {
        padding: 0 17px;
    }

    .program_buttons {
        margin-top: 59px;
        display: flex;
        flex-direction: row;
    }

    .learn_more_button {
        margin-top: 0;
        margin-left: 22px;
    }
}

@media screen and (min-width: 1200px) {
    .info_list > ul {
        height: 200px;
    }
}

@media screen and (min-width: 1540px) {
    .info_list > ul {
        height: 125px;
    }
}

/* sale_info */
.sale_info_text {
    padding: 48px 0 40px 0;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .sale_info_text {
        padding: 80px 0 71px 0;
    }

    .sale_info_text > br {
        display: none;
    }
}

/* Footer */
.footer {
    background-color: var(--grey10);
}

.footer_container {
    padding: 34px 0 42px 0;
}

.footer_social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 24px 0 24px;
}

.social_item {
    width: 52px;
    height: 52px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 39px;
}

.social_item:last-child {
    margin-right: 0;
}

.footer_copyright {
    margin-top: 24px;
    color: var(--grey70);
}

@media screen and (min-width: 1024px) {
    .footer_container {
        padding: 20px 12.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}